<h6 [sJss]="sjTitle">display flex</h6>
<input
  type="number"
  id="quantity"
  name="quantity"
  value="3"
  min="1"
  max="24"
  (change)="numberChange($event)"
/>

<paper [bgColor]="'red'">
  <div [sJss]="sjFlexDiv">
    <paper *ngFor="let number of cells">
      item {{ number }}
    </paper>
  </div>
</paper>

<select (change)="changed()" [(ngModel)]="flexDirectionSelected">
  <option [ngValue]="''">Select an Option</option>
  <option *ngFor="let option of flexDirection" [ngValue]="option.value">
    {{ option.name }}
  </option>
</select>

<select (change)="changedWrap()" [(ngModel)]="flexWrapSelected">
<option [ngValue]="''">Select an Option</option>
<option *ngFor="let option of flexWrap" [ngValue]="option.value">
  {{ option.name }}
</option>
</select>
